/*layout - softcat */
body {
    background-color: #EFE4B0;
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
div#topBar {
    background-color: #3F48CC;
    width: 100%;
    height: 70px;
    padding-top: 5px;
    border-bottom: 1px solid black;
}
div#bodyContainer {
    margin-left: 5px;
    margin-right: 5px;
}
div#catBar {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 2px;
    height: 26px;
    background-color: #c0b687;  
    text-align: center;
    border-bottom: 1px solid black;
    bottom: 0;
    position: relative;
}

div#nav {
    text-align: center;
    font-size: 1.0em;
    font-weight: bold;
    padding-bottom: 2px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 1.2em;
}

div#navCount {
    float: left;
}
div#navSkip {
    float: right; 
}

div.catName {
    display: inline-block;
    font-size: 1.2em;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    height: 25px;
    padding: 0px 8px 0px 8px;
    background-color: #c7be92;
}

div.active {
    background-color: #EFE4B0;
    font-weight: bold;
    border-bottom: 0;
    padding-bottom: 1px;
}

div#rsruCanvas {
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    max-width: 85%;
}

span.anchor {
    float: right;
    padding-right: 3px;
}

/* text style */
h1#top{
    color: #D8D9F1;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    font-size: 1.4em;
    margin-bottom: 0px;
}

h3.entryName , p.entryDesc {
    padding-top: 0px;
    margin-bottom: 8px;
    margin-top: 0;
}

p#subt{
    font-size: 0.9em;
    margin-top: 0px;
    font-style: italic;
}
p.footerText{
    font-size: 0.7em;
    text-align: center;
}

span#entryTitle {
    font-weight: bold;
    font-style: italic; 
}

p#catDesc {
    font-style: italic;
    letter-spacing: 1.1px;
    margin-top: 0px;
}


/* Link style */
a:hover {
    text-decoration-line: underline;
    color: #1b1d91;
}

a, a:visited {
    text-decoration-line: none;
    color: #1b1d91;
}

/* rsru table */
table.rsru {
    border: 0px;
    width: 100%;
    margin-bottom: 15px;
    background-color: #dbd1a1;
}
table.rsru td {
    border: 0px;
}

img.imgThumbnail {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

table.rsru .img_td {
    text-align: center;
}

table.rsru .imgWrap {
    width: 150px;
    display: block;
    margin-left: 5px;
}

table.rsru .imgBorder {
    border: 1px solid gold;
}

table.rsru .desc {
    min-height: 50px;
    max-height: 100%;
    vertical-align: top;
}

table.rsru .ossp {
    text-align: left;
}

table.rsru .title {
    border-bottom: 1px solid black;
}

table.rsru .date {
    text-align: right;
    vertical-align: bottom;
    max-height: 2em;
}

table.rsru .dl_url {
    text-align: right;
    vertical-align: bottom;
}

table.rsru .iface {
    text-align: left;
    vertical-align: bottom;
}

/* make sure it's presentable on the small screen */
@media only screen and (max-width: 650px) {
    div.catName {
        font-size: 0.9em;
        padding: 0px 1px 0px 1px;
        height: 22px;
    }
    div#catBar {
        height: 25px;
        margin-bottom: 2px;
    }
    
    div.active {
        background-color: #EFE4B0;
        font-weight: bold;
        border-bottom: 0;
        padding-bottom: 1px;
    }
    
    div#rsruCanvas {
        padding-top: 0px;
        max-width: 100%;
    }

    table.rsru .imgThumbnail {
        width: 80px;
        height: 80px;
    }

    table.rsru .imgWrap {
        max-width: 80px;
        margin-left: 2px
    }
}

@media only screen and (max-width: 400px) {
    div.catName {
        font-size: 0.8em;
        padding: 0px 1px 0px 1px;
        height: 20px;
    }
    div#catBar {
        height: 23px;
        margin-bottom: 2px;
    }
}
