/******************************************
 *   Thransoft RSRU Newnews Bee Be See    *
 ******************************************/
/* page layout */
body {
	background-color: #E2AC55;
	margin:0;
	font-family: "Franklin Gothic Medium", "Lucida Grande", sans-serif;
}

code {
    margin-right: 3px;
    color: #c9d1d9;
    font-size: 1.2em;
}

pre#tabs {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}

div#topBar {
    background: #930000;
	width: 100%;
	height: 90px;
	border: 0; margin: 0;
	padding-top: 4px;
	border-bottom: 3px solid black;
}

div#topMenu {
	padding-left: 3px;
	padding-right: 3px;
	border-bottom: 1px solid #E2AC55;
	padding-bottom: 2px;
    color: #D9D09E;
}

div#nav {
    text-align: center;
    font-size: 1.0em;
    padding-bottom: 2px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 1.2em;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

span.active {
    font-weight: bold;
}

div#navCount {
    float: left;
}

div#navSkip {
    float: right; 
}

div#contentContainer {
    padding-left: 5%;
    padding-right: 5%;
}

div#bodyContainer {
 	padding-top: 3px;
    padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
	margin-right: 5px;
    color: #D9D09E;
	background-color:#000000;
}

span#catTotal {
    float: right;
}


/* entry div */
div.rsru {
    min-height: 180px;
    padding-top: 5px;
    border-bottom: 1px solid #E2AC55;
}
div.noImg {
    min-height: 80px;
}

div.rsru_entry_text {
    margin-top: 4px;
}

div.entryDesc {
    display: inline;
    vertical-align: top;
    min-height: 170px;
}

div.entryMetaTail {
    display: block;
    width: 100%;
}

a.readMoreLink {
    float: right;
}

p.rsruDesc {
    margin-top: 0px;
}

.rsru_entry_text p { 
    margin-top: 0px; 
}

div.imgWrap {
    width: 120px;
    margin-right: 8px;
    margin-left: 0px;
    margin-bottom: 8px;
    float: left;
}

img.imgThumbnail {
    float: left;
}

#bodyContainer a:link {
	color: #66ff66;
}

#bodyContainer a:hover {
	color: #36ef36;
    text-decoration: underline;
}

#bodyContainer a:visited {
	color: #66ff66;
}

#topMenu a:link { 
	text-decoration: none;
} 
#topMenu a:hover { 
	text-decoration: underline;
} 

#topMenu a:visited { 
	text-decoration: none;
}

img#logo {
	float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left: 6px;
    margin-bottom: 20px;
    margin-top: 15px;
}

/* text style */
h1#titleHeader{
	text-align: left;
	color: #e8e6e3;
	letter-spacing: 2px;
	font-style: italic;
	font-size: 3em;
	margin-bottom: 0;
	margin-top: 10px;
}

h2#subtitle {
	font-size: 0.8em;
	font-style: italic;
	padding-top: 0;
	margin-top: 0;
    color: #e8e6e3;
}

p.footerText{
	padding-top: 4px;
	margin: 3px 4px 10px 4px;
	font-size: 0.7em;
	text-align: center;
}

p.newsItem{
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
    color: #E2AC55;
    border-bottom: 1px solid #E2AC55;
    margin-bottom: 4px;
    margin-top: 4px;
}

div.highlight p.newsItem {
    color: gold;
    border-bottom: 1px solid gold;
}

p.downloadHeader {
	font-weight: bold;
}

p#catDesc {
    font-style: italic;
    letter-spacing: 1.1px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* homepage entries */
p.entryDesc {
    margin-top: 0px;
    margin-bottom: 4px;
}

h3.entryName {
	color: #E2AC55;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 2px; 
}

div.entryMeta {
    width: 100%;
	color: #E2AC55;
	border-bottom: 1px solid #E2AC55;
}
span.entryMetaItem {
    display: inline-block;
    float: right;
}

@media only screen and (max-width: 500px) {
    h1#titleHeader{
        font-size: 2em;
    }
}

