/***************************
 *   Thransoft RSRU Blandblog
 ***************************/

/* page layout */
body {
	background-color: #dad7d7;
	margin:0;
	font-family: "Franklin Gothic Medium", "Lucida Grande", sans-serif;
}

code {
    margin-right: 3px;
    color: #c9d1d9;
    font-size: 1.2em;
}

div#topBar {
	width: 100%;
	height: 90px;
	border: 0; margin: 0;
	padding-top: 4px;
	border-bottom: 3px solid black;
    font-family: Cambria, Georgia, serif;
}

div#catBar {
	padding-left: 3px;
	padding-right: 3px;
	border-bottom: 1px solid black;
	padding-bottom: 2px;
    color: #181a1b;
    text-align: center;
}

div#catWrap {
    margin-left: auto;
    padding-left: 60px; /* Match logo width to align */
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

div#nav {
    text-align: center;
    font-size: 1.0em;
    padding-bottom: 2px;
    padding-top: 2px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 1.3em;
    font-weight: bold;
    display: block;
}

span.active {
    font-weight: bold;
}

div#navCount {
    float: left;
}

div#navSkip {
    float: right; 
}

div#contentContainer {
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

div#bodyContainer {
 	padding-top: 3px;
    padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
	margin-right: 5px;
    color: #181a1b;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid grey;
}

span#catTotal {
    float: right;
}


/* entry div */
div.rsru {
    min-height: 170px;
    margin-bottom: 30px;
}

div.rsru_entry_text {
    margin-top: 4px;
}

.rsru_entry_text p { 
    margin-top: 0px; 
}

div.entryDesc {
    margin-top: 10px;
}

img.imgThumbnail {
    display: block;
    max-width: 300px;
    max-height: 300px;
}

div.imgWrap {
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
}

#bodyContainer a:link {
	color: #f84202;
}

#bodyContainer a:hover {
	color: #aa4c2a;
    text-decoration: underline;
}

#bodyContainer a:visited {
	color: #f84202;
}

#catBar a:link { 
	text-decoration: none;
} 
#catBar a:hover { 
	text-decoration: underline;
} 

#catBar a:visited { 
	text-decoration: none;
}

img#logo {
	width: 60px;
	height: 60px;
}

div#logoWrapper {
	margin-right: 10px;
	margin-left: 6px;
    margin-top: 12px;
    margin-bottom: 20px; /* ensures the subtitle doesn't misalign */
    display: block;
    float: left;
}

/* text style */
h1#titleHeader{
	text-align: center;
	color: #000001;
	letter-spacing: 2px;
	font-style: italic;
	font-size: 3em;
	margin-bottom: 0;
	margin-top: 10px;
}

h2#subtitle {
	font-size: 0.8em;
	font-style: italic;
	padding-top: 0;
	margin-top: 0;
    text-align: center;
}

p.footerText{
	padding-top: 4px;
	margin: 3px 4px 10px 4px;
	font-size: 0.7em;
	text-align: center;
}

p.newsItem{
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
    color: #565656;
    border-bottom: 1px solid #565656;
    margin-bottom: 4px;
}

div.highlight p.newsItem {
    color: #8b5300;
    border-bottom: 1px solid #8b5300;
}

p.newsDetail {
    margin-top: 2px;
}

p.downloadHeader {
	font-weight: bold;
}

p#catDesc {
    font-style: italic;
    letter-spacing: 1.1px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* homepage entries */
p.entryDesc {
    margin-top: 0px;
    margin-bottom: 4px;
}

h3.entryName {
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 2px; 
}

div.entryMeta {
    width: 100%;
	border-bottom: 1px solid #000000;
}
span.entryMetaItem {
    display: inline-block;
    float: right;
}

@media only screen and (max-width: 500px) {
    h1#titleHeader{
        font-size: 2em;
    }
    div#catWrap {
        padding-left: 0px;
    }
    div#logoWrapper {
        margin-bottom: 10px;
    }
    div#catBar, p#catDesc {
        font-size: 0.8em;
    }
    img.imgThumbnail, div.imgWrap {
        max-width: 250px;
        max-height: 250px;
    }
}
